
@{
    ViewBag.Title = "BillingDashboard";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div style="padding-left:40%; background-color:blue;color:white;" >
                    <h4 class="container-fluid">@DateTime.Now</h4>
                    </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <table class="col-md-12">
                            <tr>
                                <td>
                                    <h4 class="card-title">Billing Dashboard</h4>
                                </td>
                                <td>
                                    <button class="btn btn-success" type="button" onclick="LoadCart()">LOAD BILLS</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body">
                        <div id="ActionContainer">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div>
    
</div>



<script>


    function LoadCart() {
          $.ajax({
            url: '@Url.Action("BillingOrderDashboard", "Home")',
            type: 'GET'
        })
            .done(function (response) {
                $("#ActionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            })


    }


</script>

<style>
    
</style>