@model RMS_System.ViewModels.UserListingViewModel
@{
    ViewBag.Title = "UserListing";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User Listing</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="usersTable" class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users)
                                {
                                <tr>
                                    <td><img src="@Url.Action(item.ImageURL)"></td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Role</td>
                                    <td><button class="btn-primary">EDIT</button></td>
                                    <td><button class="btn-danger">DELETE</button></td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Picture</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th colspan="2">Action</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                </div>
            </div>
        </div>
    </section>



<link href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script>
        $('#usersTable').DataTable();
</script>
